<header class="mui-bar mui-bar-nav">
	<h1 class="mui-title">我</h1>
</header>

<div class="mui-content">
	<ul class="mui-table-view list_wallet list_img ">
		<li class="mui-table-view-cell personal_image">
			<a class="mui-navigate-right">
				<i class="my-headimage">
        		<img class="mui-icon-image" src="../../assets/images/headimage.jpg">
        </i>
				<div class="right-txt center-txt">
					<li class="chatlist_title ">爱雨天的熊</li>
					<li class="chatlist_content">好的</li>
				</div>
				<div class="code-pic">
					<span class="icon iconfont icon-orcode wallet_icon"></span>

				</div>

			</a>
		</li>
		<li class="mui-table-view-cell personal_list">
			<a class="mui-navigate-right">
				<span class="icon iconfont icon-watch wallet_icon"><span class="txt">iWatch</span></span>
				<a class="mui-navigate-right my-arrow"></a>
			</a>
		</li>
	</ul>

	<ul class="mui-table-view list_wallet">
		<li class="mui-table-view-cell personal_list">
			<a class="mui-navigate-right">
				<span class="icon iconfont icon-ziyuan wallet_icon"><span class="txt">钱包</span></span>
				<a class="mui-navigate-right my-arrow"></a>
			</a>
		</li>
	</ul>

	<ul class="mui-table-view list_collection">
		<li class="mui-table-view-cell personal_list">
			<a class="mui-navigate-right">
				<span class="mui-icon-extra mui-icon-extra-heart-filled wallet_icon"><span class="txt">收藏</span></span>
				<a class="mui-navigate-right my-arrow"></a>
			</a>
		</li>

		<li class="mui-table-view-cell personal_list">
			<a class="mui-navigate-right">
				<span class="icon iconfont icon-xiangce wallet_icon"><span class="txt">相册</span></span>
				<a class="mui-navigate-right my-arrow"></a>
			</a>
		</li>

		<li class="mui-table-view-cell personal_list">
			<a class="mui-navigate-right">
				<span class="icon iconfont icon-kabao wallet_icon"><span class="txt">卡包</span></span>
				<a class="mui-navigate-right my-arrow"></a>
			</a>
		</li>

		<li class="mui-table-view-cell personal_list">
			<a class="mui-navigate-right">
				<span class="icon iconfont icon-biaoqing wallet_icon"><span class="txt">表情</span></span>
				<a class="mui-navigate-right my-arrow"></a>
			</a>
		</li>
	</ul>

	<ul class="mui-table-view list_setting">
		<li class="mui-table-view-cell personal_list">
			<a class="mui-navigate-right">
				<span class="icon iconfont icon-iconshezhi01 wallet_icon"><span class="txt">设置</span></span>
				<a class="mui-navigate-right my-arrow"></a>
			</a>
		</li>
	</ul>
</div>
