<!--The content below is only a placeholder and can be replaced.-->

<router-outlet></router-outlet>
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item mui-active" routerLink='/index'>
		<span class="mui-icon mui-icon-chat"></span>
        <span class="mui-tab-label">聊天</span>
    </a>

    <a class="mui-tab-item" routerLink='/contact'>
        <span class="mui-icon mui-icon-personadd"></span>
        <span class="mui-tab-label">通讯录</span>
    </a>
    <a class="mui-tab-item">
        <span class="mui-icon mui-icon-search" routerLink='/search'></span>
        <span class="mui-tab-label">发现</span>
    </a>
    <a class="mui-tab-item">
         <span class="mui-icon mui-icon-person-filled" routerLink='/center'></span>
        <span class="mui-tab-label">我</span>
    </a>
</nav>




