<header class="mui-bar mui-bar-nav">
  <h1 class="mui-title">添加朋友
    <a href="#popover" id="openPopover"><i class="mui-icon mui-icon-more add_icon"></i></a>
  </h1>
</header>
<div class="mui-content">
  <div class="mui-input-row mui-search ">
    <input type="search" class="mui-input-clear add-friend " placeholder="微信号/手机号">
  </div>
  <ul class="mui-table-view chatlist_container">
    <li class="mui-table-view-cell">
      <a class="mui-navigate-right">
        <span class="icon iconfont icon-leida wallet_icon"></span>
        <div class="right-txt">
    <li class="chatlist_title">雷达加朋友</li>
    <li class="chatlist_content">添加身边的朋友</li>
</div>
</a>
</li>

<li class="mui-table-view-cell">
  <a class="mui-navigate-right">
    <span class="icon iconfont icon-chuangjianqunzu wallet_icon"></span>
    <div class="right-txt">
<li class="chatlist_title">面对面建群</li>
<li class="chatlist_content">与身边的朋友进入同一个群聊</li>
</div>
</a>
</li>


<li class="mui-table-view-cell">
  <a class="mui-navigate-right">
    <span class="icon iconfont icon-saoyisao wallet_icon"></span>
    <div class="right-txt">
<li class="chatlist_title">扫一扫</li>
<li class="chatlist_content">扫描二维码名片</li>
</div>
</a>
</li>


<li class="mui-table-view-cell">
  <a class="mui-navigate-right">
    <span class="icon iconfont icon-haoyou-shoujilianxiren wallet_icon"></span>
    <div class="right-txt">
<li class="chatlist_title">手机联系人</li>
<li class="chatlist_content">添加通讯录中的朋友</li>
</div>
</a>
</li>

<li class="mui-table-view-cell">
  <a class="mui-navigate-right">
    <span class="icon iconfont icon-gongzhonghao wallet_icon"></span>
    <div class="right-txt">
<li class="chatlist_title">公众号</li>
<li class="chatlist_content">获取更多资讯和服务</li>
</div>
</a>
</li>

</ul>

</div>
