
<header class="mui-bar mui-bar-nav">
  <h1 class="mui-title">发现</h1>
</header>

<div class="mui-content">
  <ul class="mui-table-view list_wallet list_img ">
    <li class="mui-table-view-cell personal_list">
      <a class="mui-navigate-right">
        <span class="icon iconfont icon-pengyouquan wallet_icon"><span class="txt">朋友圈</span></span>
        <a class="mui-navigate-right my-arrow"></a>
      </a>
    </li>
</ul>

<ul class="mui-table-view list_wallet">
  <li class="mui-table-view-cell personal_list">
    <a class="mui-navigate-right">
      <span class="icon iconfont icon-saoyisao wallet_icon"><span class="txt">扫一扫</span></span>
      <a class="mui-navigate-right my-arrow"></a>
    </a>
  </li>
  <li class="mui-table-view-cell personal_list">
    <a class="mui-navigate-right">
      <span class="icon iconfont icon-yaoyiyao wallet_icon"><span class="txt">摇一摇</span></span>
      <a class="mui-navigate-right my-arrow"></a>
    </a>
  </li>

</ul>

<ul class="mui-table-view list_collection">
  <li class="mui-table-view-cell personal_list">
    <a class="mui-navigate-right">
      <span class="icon iconfont icon-shoucang wallet_icon"><span class="txt">收藏</span></span>
      <a class="mui-navigate-right my-arrow"></a>
    </a>
  </li>

  <li class="mui-table-view-cell personal_list">
    <a class="mui-navigate-right">
      <span class="icon iconfont icon-sousuo wallet_icon"><span class="txt">搜一搜</span></span>
      <a class="mui-navigate-right my-arrow"></a>
    </a>
  </li>

</ul>



  <ul class="mui-table-view list_collection">
    <li class="mui-table-view-cell personal_list">
      <a class="mui-navigate-right">
        <span class="icon iconfont icon-12 wallet_icon"><span class="txt">漂流瓶</span></span>
        <a class="mui-navigate-right my-arrow"></a>
      </a>
    </li>


  </ul>

  <ul class="mui-table-view list_collection">
    <li class="mui-table-view-cell personal_list">
      <a class="mui-navigate-right">
        <span class="icon iconfont icon-gouwu wallet_icon"><span class="txt">购物</span></span>
        <a class="mui-navigate-right my-arrow"></a>
      </a>
    </li>

    <li class="mui-table-view-cell personal_list">
      <a class="mui-navigate-right">
        <span class="icon iconfont icon-youxi wallet_icon"><span class="txt">游戏</span></span>
        <a class="mui-navigate-right my-arrow"></a>
      </a>
    </li>

  </ul>

<ul class="mui-table-view list_setting">
  <li class="mui-table-view-cell personal_list">
    <a class="mui-navigate-right">
      <span class="icon iconfont icon-xiaochengxu1 wallet_icon"><span class="txt">小程序</span></span>
      <a class="mui-navigate-right my-arrow"></a>
    </a>
  </li>
</ul>
</div>
