<header class="mui-bar mui-bar-nav">
  <h1 class="mui-title">详细资料
    <a href="#popover" id="openPopover"><i class="mui-icon mui-icon-more add_icon"></i></a>
  </h1>
</header>
<div class="mui-content">
  <ul class="mui-table-view chatlist_container">
    <li class="mui-table-view-cell personal_image">
      <i class="my-headimage">
        <img class="mui-icon-image" src="../../assets/images/headimage.jpg">
      </i>
      <div class="right-txt center-txt">
    <li class="chatlist_title ">小红</li>
    <li class="chatlist_content">微信号:JDNDSS</li>
</div>
</li>
</ul>
<ul class="mui-table-view list_wallet">
  <li class="mui-table-view-cell personal_list">
    <a class="mui-navigate-right">
      <span class="txt">设置备注和标签</span>
      <a class="mui-navigate-right my-arrow"></a>
    </a>
  </li>
</ul>

<ul class="mui-table-view list_wallet">
  <li class="mui-table-view-cell personal_list">
    <a class="mui-navigate-right">
      <span class="txt">地区</span>
      <a class="mui-navigate-right my-arrow"></a>
    </a>
  </li>
  <li class="mui-table-view-cell personal_image">

    <div class="right-txt center-txt album-txt">
      <a class="mui-navigate-right">
  <li class="chatlist_title ">个人相册</li>
  </a>
  </div>

  <i class="my-headimage">
    <img class="mui-icon-image" src="../../assets/images/headimage.jpg">
  </i>
  <i class="my-headimage">
    <img class="mui-icon-image" src="../../assets/images/headimage.jpg">
  </i>
  <i class="my-headimage">
    <img class="mui-icon-image" src="../../assets/images/headimage.jpg">
  </i>
  </li>

  <li class="mui-table-view-cell personal_list">
    <a class="mui-navigate-right">
      <span class="txt">更多</span>
      <a class="mui-navigate-right my-arrow"></a>
    </a>
  </li>

</ul>

</div>


